@import 'colors';
@import 'sizes';

* {
  box-sizing: border-box;
}

p {
  line-height: $font-size * 1.4;

  &.call-us {
    margin-top: $spacer-y * 4;
    text-align: center;

    a {
      background-color: $white-ish;
      border: 1px solid $green;
      color: $green;
      display: inline-block;
      font-weight: bold;
      padding: $spacer-y $spacer-x;
    }
  }
}

body {
  color: $text-color;
  margin: 0;
}

main {
  padding: $spacer-x;
}

header {
  align-items: center;
  background-color: $brand-primary;
  display: flex;
  height: $header-height;
  justify-content: space-around;

  strong {
    font-size: 2 * $font-size;
  }

  a {
    color: $red;
  }
}

img {
  max-height: 100%;
}

a {
  color: $blue;
  text-decoration: none;
}
